<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
				  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
				  "http://mybatis.org/dtd/mybatis-3-config.dtd"> 
				  
<configuration>
 
	<typeAliases>
		<typeAlias type="com.gang.start.members.BankMembersDTO" alias="BankMembersDTO"/>
		<typeAlias type="com.gang.start.bankbook.BankBookDTO" alias="BankBookDTO"/>
		<typeAlias type="com.gang.start.account.BankAccountDTO" alias="BankAccountDTO" />
		<typeAlias type="com.gang.start.board.notice.NoticeDTO" alias="NoticeDTO"/>
		<typeAlias type="com.gang.start.board.qna.QnaDTO" alias="QnaDTO" />
		<typeAlias type="com.gang.start.board.impl.BoardDTO" alias="boardDTO"/>
		<typeAlias type="com.gang.start.members.MemberFileDTO" alias="MemberFileDTO" />
		<typeAlias type="com.gang.start.board.impl.BoardFileDTO" alias="boardFileDTO"/>
		<typeAlias type="com.gang.start.bankbook.BankBookCommentDTO" alias="BankBookCommentDTO"/>
		<typeAlias type="java.util.List" alias="List"/>
	</typeAliases>
	 

</configuration>