<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #d1 {
            width: 200px;
            height: 200px;
            background-color: yellow;
            cursor: pointer;
        }
        .c1 {
            width: 500px;
            height: 700px;
            background-color: blueviolet;
        }
    </style>
    <script>
        alert('hello');
    </script>
</head>
<body>
    <h1>Dom_3 Page</h1>
    <h3 id="d1" onclick="test()"></h3>
    <a href="#img1">IMAGE</a>
    <img id = "d2" src="/resources/images/chunsik.png" onclick="test()">
    <button type="button" id="btn1" >CLICK</button>
    <div class="c1"></div>
    <img src="/resources/images/KakaoTalk_20220819_121832579.jpg" id="img1">

    <script src="/resources/js/dom_3.js"></script>
    
</body>
</html>
