<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="text" id="d1">
    <input type="text" id="d2">
    <input type="text" id="d3">
    <button type="button" id="btn">CLICK</button>
    <hr>
    <button id="btn2">CLICK2</button>
    <button id="btn3">CLICK3</button>

    <script src="/resources/js/dom_3_ex1.js"></script>

</body>
</html>