<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    
  <input type="text" id="d1" value="test">
  <input type="radio" id="d2>"
  <div id="d3"></div>
 
  <div>
    <select id="year">

      <option>2022</option>
      <option value="">2021</option>
      <option value="">1900</option>
    </select>

    <select id="month"> </select>
    <select id="date"> </select>
  </div>

  <table id="d4" border="1"></table>
  <script src="/resources/js/dom_2.js"></script>
 
</body>
</html>