<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    

		  <mapper namespace="com.gang.start.bankbook.BankBookDAO">
         	
         	<insert id="setBankBook" parameterType="BankBookDTO">
         		INSERT INTO BANKBOOK VALUES (#{booknum},#{bookname},#{bookrate},#{booksale})
         	</insert>
         	
         	
         	<select id="getList" resultType="BankBookDTO">
         		SELECT * FROM BANKBOOK ORDER BY BOOKNUM DESC
         	</select>
         	
         	
         	<update id="setChangeSale" parameterType="BankBookDTO" >
         		UPDATE BANKBOOK SET BOOKSALE = #{booksale} WHERE BOOKNUM = #{booknum}
         	</update>
         	
         	
         	<select id="getDetail" parameterType="BankBookDTO" resultType="BankBookDTO">
         		SELECT * FROM BANKBOOK WHERE BOOKNUM = #{booknum}
         	</select>
         	
         	
         	<update id="setUpdate" parameterType="BankBookDTO">
         		UPDATE BANKBOOK SET BOOKNAME = #{bookname}, BOOKRATE = #{bookrate} WHERE BOOKNUM = #{booknum}
         	</update>
         	
         	
         	<delete id="setDelete" parameterType="BankBookDTO">
         		DELETE FROM BANKBOOK WHERE BOOKNUM = #{booknum}
         	</delete>
        
         </mapper>