<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    

		  <mapper namespace="com.gang.start.bankbook.BankBookDAO">
         	
         	<insert id="setBankBook" parameterType="BankBookDTO">
         		INSERT INTO BANKBOOK VALUES (#{bookNum},#{bookName},#{bookRate},#{bookSale})
         	</insert>
         	
         	
         	<select id="getList" resultType="BankBookDTO">
         		SELECT * FROM BANKBOOK ORDER BY BOOKNUM DESC
         	</select>
         	
         	
         	<update id="setChangeSale" parameterType="BankBookDTO" >
         		UPDATE BANKBOOK SET BOOKSALE = #{bookSale} WHERE BOOKNUM = #{bookNum}
         	</update>
         	
         	
         	<select id="getDetail" parameterType="BankBookDTO" resultType="BankBookDTO">
         		SELECT * FROM BANKBOOK WHERE BOOKNUM = #{bookNum}
         	</select>
         	
         	
         	<update id="setUpdate" parameterType="BankBookDTO">
         		UPDATE BANKBOOK SET BOOKNAME = #{bookName}, BOOKRATE = #{bookRate} WHERE BOOKNUM = #{bookNum}
         	</update>
         	
         	
         	<delete id="setDelete" parameterType="BankBookDTO">
         		DELETE FROM BANKBOOK WHERE BOOKNUM = #{bookNum}
         	</delete>
         	
         	<insert id="setReply" parameterType="BankBookCommentDTO">
         		INSERT INTO BB_COMMENT VALUES (BOARD_SEQ.NEXTVAL,#{bookNum},#{writer},#{contents},SYSDATE)
         	</insert>
        
         </mapper>