<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
			<mapper namespace="com.gang.start.board.notice.NoticeDAO">
				<select id ="getList" resultType="NoticeDTO" parameterType="com.gang.start.util.Pager">
					SELECT * FROM
					(SELECT ROWNUM R ,N.* FROM
					(SELECT * FROM NOTICE 
							WHERE
								<choose>
									<when test="kind == 'title'">TITLE</when>
									<when test="kind == 'writer'">WRITER</when>
									<otherwise>contents</otherwise>									
								</choose>
								LIKE '%'||#{search}||'%'
							 ORDER BY NUM DESC) N)
					WHERE R BETWEEN #{startRow} AND #{lastRow}
				</select>
				
				<select id="getDetail" parameterType="NoticeDTO" resultType="NoticeDTO">
					SELECT * FROM NOTICE WHERE NUM = #{num}
				</select>
				
				<insert id="setAdd" parameterType="NoticeDTO">
					INSERT INTO NOTICE VALUES (BOARD_SEQ.NEXTVAL,#{title},#{contents},#{writer},SYSDATE,0)
				</insert>
				
				<update id="setUpdate" parameterType="NoticeDTO">
					UPDATE NOTICE SET TITLE = #{title}, CONTENTS = #{contents} WHERE NUM = #{num}
				</update>
				
				<delete id="setDelete" parameterType="NoticeDTO">
					DELETE FROM NOTICE WHERE NUM = #{num}
				</delete>
				
				<select id="getCount" resultType="java.lang.Long" parameterType="com.gang.start.util.Pager">
					SELECT COUNT(NUM) FROM NOTICE
					WHERE
								<choose>
									<when test="kind == 'title'">TITLE</when>
									<when test="kind == 'writer'">WRITER</when>
									<otherwise>contents</otherwise>									
								</choose>
								LIKE '%'||#{search}||'%'
				</select>
			
			
			</mapper>