<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
		    <mapper namespace="com.gang.start.board.qna.QnaDAO">
		    
		    	
		    	
		    	<insert id="setReplyAdd" parameterType="QnaDTO">
		    		<selectKey keyProperty="num" order="BEFORE" resultType="java.lang.Long">
							SELECT BOARD_SEQ.NEXTVAL FROM DUAL
					</selectKey>
		    		INSERT QNA(NUM, TITLE, CONTENTS, WRITER, REGDATE, HIT REF, STEP, DEPTH) INTO VALUES (#{num},#{title},#{contents},#{writer},SYSDATE,0,#{ref},#{step},#{depth})
		    	</insert>
		    
		    	<update id ="setStepUpdate" parameterType="QnaDTO">
		    		UPDATE QNA SET STEP = STEP+1 WHERE STEP > #{step} AND REF = #{ref}
		    	</update>
			    <select id ="getList" resultType="QnaDTO" parameterType="com.gang.start.util.Pager">
						SELECT * FROM
					(SELECT ROWNUM R ,N.* FROM
					(SELECT * FROM QNA 
							WHERE
								<choose>
									<when test="kind == 'title'">TITLE</when>
									<when test="kind == 'writer'">WRITER</when>
									<otherwise>contents</otherwise>									
								</choose>
								LIKE '%'||#{search}||'%'
							 ORDER BY REF DESC, STEP ASC) N)
					WHERE R BETWEEN #{startRow} AND #{lastRow}
					</select>
					
					<select id="getDetail" parameterType="boardDTO" resultType="QnaDTO">
						SELECT * FROM QNA WHERE NUM = #{num}
					</select>
					
					<insert id="setAdd" parameterType="boardDTO">
						<selectKey keyProperty="num" order="BEFORE" resultType="java.lang.Long">
							SELECT BOARD_SEQ.NEXTVAL FROM DUAL
						</selectKey>
						INSERT (NUM, TITLE, CONTENTS, WRITER, REGDATE, HIT REF, STEP, DEPTH) INTO QNA VALUES (#{num},#{title},#{contents},#{writer},SYSDATE,0,#{num},0,0)
					</insert>
					
					<update id="setUpdate" parameterType="boardDTO">
						UPDATE QNA SET TITLE = #{title}, CONTENTS = #{contents} WHERE NUM = #{num}
					</update>
					
					<delete id="setDelete" parameterType="boardDTO">
						DELETE FROM QNA WHERE NUM = #{num}
					</delete>
					
					<select id="getCount" resultType="java.lang.Long" parameterType="com.gang.start.util.Pager">
					SELECT COUNT(NUM) FROM QNA
					WHERE
								<choose>
									<when test="kind == 'title'">TITLE</when>
									<when test="kind == 'writer'">WRITER</when>
									<otherwise>contents</otherwise>									
								</choose>
								LIKE '%'||#{search}||'%'
				</select>
			    
		    
		    </mapper>